body {
	margin: 0;
}

nav {
	background-color: orange;
}

nav h1 {
	margin: 10px;
	display: inline-block;
}

nav ul {
	display: inline-block;
	float: right;
}

nav ul li {
	display: inline-block;
}

main {
	width: 100%
}

header h1 {
	text-align: center;
}

#about {
	background: linear-gradient(white, #f78949);
	height: 400px;
	width: 100%;
}

#projects {
	background: linear-gradient(white, #f78949);
	height: 400px;
	width: 100%;
}

#contact {
	background: linear-gradient(white, #f78949);
	height: 400px;
	width: 100%;
}